html{
font-family: Inter;
}
body{
    background-color: #f1d4ab;
}
h3{
text-align: center;
padding: 20px 0px;
font-size: 25px;
}
.content{
    background-color: #e3c59b;
   height: 200px;
}
.container{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
text-align: center;
}
.container_item{
    margin: 5px 5px;
    width: 40%;
    background-color: rgb(204, 176, 139);
    padding: 5px 0px;
border: 1px solid #976c31;
}
a{
    font-size: 20px;
 text-decoration: none;
 color: rgb(27, 18, 6);
 display: block;
 width: 100%;
 height: 100%;
}