*{
    font-family: Montserrat;
}
section{
background-color: #1e1e1e;
}
.section_container{
    display: flex;
    max-width: 1440px;
   height: 730px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #282828;
    padding: 15px;
    justify-content: space-evenly;
}
.left-container_title{
display: flex;
flex-direction: column;
justify-content: center;
font-family: Montserrat , serif;
color: #ffffff;
margin: 5px 10px;
width: 33%;
}
.left-container_title :nth-child(1){
    font-weight:600 ;
    font-size: 40px;
    line-height:51px ;
    padding-left: 10px;
}
.left-container_title :nth-child(2){
    font-size: 40px;
    line-height:51px ;
    padding-left: 10px; 
}
.left-container_title :nth-child(3){
    font-size: 24px;
    line-height:31px ;
    padding-left: 10px; 
}
.section_intro{
    background-color: #ffffff;
    width: 23%;
    margin: 40px;
    border-radius: 40px;
}
.section_intro img{
    padding: 115px 15px 15% 5px;
    max-width: 100%;
}
.section_intro :nth-child(2){
    font-weight:600 ;
    font-size: 36px;
    line-height:44px ;
    margin: 10px;
     padding: 0px 15px 5px 15px;
}
.section_intro :nth-child(3){
    font-weight:600 ;
    line-height:29px ;
     padding: 0px 15px 5px 20px;
     margin:3px
}

.section_form{
    position: relative;
    background-color: #ffffff;
    border-radius: 40px;
    width: 23%;
    margin: 40px;
}
.section_form img{
 position: absolute;
 max-width: 100%;
 z-index: 0;
 top: 2%;
 left: 15%;
}
.section_form p:nth-child(2){
    position: relative;
    z-index: 1;
    font-size: 36px;
    line-height: 44px;
    padding: 40% 10% 5px 20%;
    top: -17px;
}
.section_form p:nth-child(3){
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 17px;
    top: -50px;
    padding: 0 21px 5px 72px;
}
.form_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    position: absolute;
    bottom: 120px;
    margin-left: 10px;

}
.personal-info{
    padding: 15px 10px 10px 10px;
    margin: 10px 10px;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    background: rgba(196 , 196, 196, 0.2);
    width:80%;
    line-height: 17px;
    color: rgba(0, 0,0 ,0.5);
}

label{
    margin: 10px 10px;
    font-size: 9px;
    line-height: 10px;
}

.password{
text-align: center;
position: absolute;
bottom: 100px;
left: 115px;
font-size: 10px;
font-weight: bold;
}

.login{
    position: absolute;
    bottom: 15px;
    left: 85px;
text-align: center;
line-height: 15px;
font-size: 12px;
font-weight: bold;

}
.login a{
    color: #FFC33E;
    text-decoration: none;
}
.span-checkbox a {
color:#FFC33E;
text-decoration: none;
}
.button_left-container1{
    position: absolute;
    bottom: 100px;
    left: 875px;
}
.button_right-container2{
    position: absolute;
    bottom: 100px;
    left: 1335px;
}